/*comentarios en css*/

/* estilos de Body*/
body{
    /* Propiedad color de fondo*/
    background-color: blue;
}
/* Estilo de header*/
header{
    text-align: center;
}

header nav ul{
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: whitesmoke;
}
/* logo superior izquierdo*/
.logo-izquierdo {
    position: absolute;
    top: 10px;
    left: 10px;
}
/* Estilo de Logo*/
.logo-izquierdo img {
    width: 40px;
    height: auto;
}
/* logo de instagram*/
.logo {
    text-align: right;
    padding: 10px;
} 
/* estilo de main*/
main{
    color: whitesmoke;
    text-align: center;
}
/* estilo de footer*/
footer{
    text-align: right;
}
/* ubicación del menu*/
nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}
/* estilo contenedor */
.menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}
/* estilos de botones*/
.menu li a {
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
/* efecto para el mouse*/
.menu li a:hover {
    background-color: #0056b3;
}
main, footer, section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}
@media (max-width: 768px) {
    .menu{
        flex-direction: column;
        align-items: flex-start;
    }
    nav {
        top: 5px;
        right: 5px;
    }
    .logo-izquierdo {
        top: 5px;
        left: 5px;
    }
}