$color-principal: #217dbb;
$color-tipo: whitesmoke;
// Colores
$color-primario: #217dbb;
$color-secundario: #007BFF;
$color-hover: #0056b3;
$color-texto: whitesmoke;
$color-footer: rgb(29, 110, 165);

// Tipografía
$fuente-principal: Arial, Helvetica, sans-serif;
