 //variables
 @use'../utilities/variable' as*;
 //mixin
 @use'../utilities/mixi' as *;
 // estilos Generales
body {
  background-color: #3498db;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: whitesmoke;
}

// Header
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #217dbb;

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;

    li a {
      text-decoration: none;
      background-color: #007BFF;
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      font-weight: bold;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}

.logo-izquierdo img {
  margin-left: auto;
  width: 100px;
  height: auto;
}

// Main
main {
  text-align: center;
  padding: 2rem;
}

.Buscador input {
  padding: 0.5rem;
  width: 50%;
  max-width: 300px;
  border-radius: 5px;
  border: none;
  margin: 1rem 0;
}

// Productos
.productos {
  padding: 2rem;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.item {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;

  img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
}

// Footer
footer {
  text-align: center;
  padding: 1rem;
  background-color: #1d6ea5;
  color: whitesmoke;
}

// Cards
.card-title {
  font-weight: bold;
  color: #217dbb;
}

.card-text {
  color: #555;
}

.card-img-top {
  border-radius: 5px;
}




